
<style>
  .header{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 850px;
  }
  span{
    font-weight: bold;
    color: #d9edf7;
  }

</style>

<div class="header">
  <span><span><strong> Admin:</strong></span> <%= current_user.NombreCompleto %>.</span>
  <%= link_to "Cerrar session", logout_path, method: :delete, class: 'btn btn-info' %>
</div>
<hr>

<div class="container">
  <div class="login">


    <h2 style="color: #1E88E5;font-weight: bold;">Formulario para editar Capitulos</h2>

    <%= form_for @Capitulo, url: editCapitulo_path(@Capitulo) do |f| %>

      <% if @Capitulo.errors.any?%>
        <ul>
          <% @Capitulo.errors.full_messages.each do|msg| %>
            <li><%= msg %></li>
          <%end%>
        </ul>
      <%end%>

      <div class="form-group">
        <label for="exampleInputPassword1">Titulo</label>
        <%=f.text_field :Titulo,:placeholder=>'Titulo', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Temporada</label>
        <%= f.number_field :Temporada, :placeholder => 'Temporada', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Video</label>
        <%= f.text_field :Video, :placeholder => 'Video', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Episodios</label>
        <%= f.number_field :Episodio, :placeholder => 'Episodios', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Serie ID</label>
        <%= f.collection_select :Serie_id, Serie.all, :id, :Titulo, :class => 'form-control'%>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Temporada</label>
        <%= f.collection_select :temporada_id, Temporada.all,:id,:Descripcion, :class => 'form-control'%>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Descripcion</label>
        <%= f.text_area :Descripcion,size: "10x5", :placeholder => 'Descripcion', :class => 'form-control' %>
      </div>

      <%= f.submit 'Enviar',:class=>'btn btn-primary' %>
    <% end %>


  </div>
</div>