<section class="contenedor-video-recomendaciones">
  <div class="container">
    <div class="row">

      <div class="serie-video-informacion">
        <h2 class="subtitulo-linea"><%= @Cabecera.Titulo %>
          <% case @Cabecera.Categoria_id %>
          <% when 1 %>
                           <span class=" marcador marcadorSeries marcador-nickelodeon">
                            Nickelodeon
                           </span>
          <% when 2 %>
                           <span class="marcador marcadorSeries marcador-cartoon">
                               Cartoon Network
                           </span>
          <% when 5 %>
                           <span class="marcador marcadorSeries marcador-disney">
                               Disney
                           </span>
          <% when 4 %>
                           <span class="marcador marcadorSeries marcador-hanna">
                             Hanna Barbera
                           </span>
          <% when 3 %>
                           <span class="marcador marcadorSeries marcador-foxKids">
                             Fox Kids
                           </span>
          <% when 6 %>
                           <span class="marcador marcador-warner">
                             Warner Channel
                           </span>
          <% when 7 %>
                           <span class="marcador marcador-marvel">
                             Marvel
                           </span>
          <% when 8 %>
                            <span class="marcador marcador-otros">
                              Otros
                            </span>
          <% end %>

        </h2>
        <h3>Episodio <%= @Capitulo.Episodio %> de la temporada <%= @Capitulo.Temporada %>:
          <span><%= @Capitulo.Titulo %></span></h3>
        <iframe src="<%= @Capitulo.Video %>" scrolling="no" frameborder="0" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
        <div class="resena-serie">
          <h4>Reseña del episodio</h4>
          <p><%= @Capitulo.Descripcion %></p>
        </div>



        <!--  <div class="tempora">
            <h3 class="subtitulo-linea"></span>Temporadas</h3>
            <ul>
              <li class="estilo-temporada estilo-temporada-activo">
                <a href="#"><span class="fa fa-play"></span>Temporada 1</a></li>
              <li class="estilo-temporada"><a href="#"><span class="fa fa-play"></span>Temporada 1</a></li>
              <li class="estilo-temporada"><a href="#"><span class="fa fa-play"></span>Temporada 1</a></li>
            </ul>
          </div>  -->

        <div class="contenedor-episondios">
          <div class="">
            <h3 class="subtitulo-linea">Episodios</h3>
            <h4 class="estilo-temporada-activo estilo-temporada"><span class="fa fa-play"></span>Temporada</h4>
            <% @Episodios.each do |e| %>
              <ul class="listas-de-episodion">
                <li>
                  <%= link_to capitulo_path(e) do %>
                    <span>Capitulo <%= e.Episodio %>-</span> <%= e.Titulo %>
                  <% end %>
                </li>

              </ul>
            <% end %>
            <div class="paginacion">
              <ul class=" pagination">
                <li>      <%= will_paginate @Episodios, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></li>

              </ul>
            </div>
          </div>
        </div>

        <div class="comentario-serie">
          <div class="contenedor-formulario-comentario">
            <h3 class="subtitulo-linea">Escribenos un comentario</h3>
            <%= form_for @Comentario, url: new_cometario_path(@Comentario) do |f| %>
              <% if @Comentario.errors.any? %>
                <div id="errorExplanation">
                  <ul>
                    <% @Comentario.errors.full_messages.each do |msg| %>
                      <li class="alert alert-danger" role="alert"><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="">
                <div class="">
                  <%= f.text_field :Nombre, id: 'nombre', class: "form-control", placeholder: "Nombre" %>
                  <span class="error"></span>
                </div>
                <div class="">
                  <%= f.text_field :Correo, id: 'correo', class: "form-control", placeholder: "Correo" %>
                  <span class="error"></span>
                </div>
              </div>
              <div class="">
                <%= f.text_area :Comentario, id: 'comentario', :rows => "8", :cols => "80", class: "form-control", placeholder: "Mensaje" %>
                <span class="error"></span>
              </div>
              <%= f.hidden_field :Capitulo_id, :value => @Capitulo.id, :readonly => "" %>
              <div class="div-boton-publicar">
                <input type="submit" id="publicar" class="btn btn-enviar" name="button" value="Publicar">
              </div>
            <% end %>
          </div>
          <div class="contenedor-comentarios">
            <div class="">
              <p><span>(<%= @Count %>)</span> Comentarios </p>
            </div>

            <div class="comentarios-escritos">
              <% @Comentarios.each do |c| %>
                <div class="informacion-persona">
                  <div class="comentario-por-persona">
                    <div class="imagen-persona">
                      <img src="img/persona.jpg" alt="">
                      <p><%= c.Nombre %><span class="fecha-publicacion"><%= c.created_at.strftime("%d/%B/%Y") %></span>
                      </p>
                    </div>
                    <div class="comentario-persona">
                      <p><%= c.Comentario %></p>
                    </div>


                  </div>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>

      <aside class="temporada-recomendaciones-series">
<!--        ADS ZONE -->
<!--        <script type="text/javascript">-->
<!--            atOptions = {-->
<!--                'key' : '6e1fbbbd45bc99f2043bac64d3c501b9',-->
<!--                'format' : 'iframe',-->
<!--                'height' : 50,-->
<!--                'width' : 320,-->
<!--                'params' : {}-->
<!--            };-->
<!--            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.topdisplaynetwork.com/6e1fbbbd45bc99f2043bac64d3c501b9/invoke.js"></scr' + 'ipt>');-->
<!--        </script>-->

        <h3 class="subtitulo-linea">Series recomendadas</h3>
        <% @Recomendadas.each do |r| %>
          <div class="series-recomendadas">


            <%= link_to serie_path(r) do %>
              <div class="serie informcion-serie-recomendada">
                <%= image_tag r.Portada.url %>
                <div class="informacion-serie">
                  <div class="">
                    <p class="nombre-serie"><%= r.Titulo %></p>


                    <% case r.Categoria_id %>
                    <% when 1 %>
                                                              <span class="marcador marcador-nickelodeon">
                                                               Nickelodeon
                                                              </span>
                    <% when 2 %>
                                                              <span class="marcador marcador-cartoon">
                                                                  Cartoon Network
                                                              </span>
                    <% when 5 %>
                                                              <span class="marcador marcador-disney">
                                                                  Disney
                                                              </span>
                    <% when 4 %>
                                                              <span class="marcador marcador-hanna">
                                                                Hanna Barbera
                                                              </span>
                    <% when 3 %>
                                                              <span class="marcador marcador-foxKids">
                                                                Fox Kids
                                                              </span>
                    <% when 6 %>
                                                                              <span class="marcador marcador-warner">
                                                                                Warner Channel
                                                                              </span>
                    <% when 7 %>
                                                                                 <span class="marcador marcador-marvel">
                                                                                   Marvel
                                                                                 </span>
                    <% when 8 %>
                                          <span class="marcador marcador-otros">
                                            Otros
                                          </span>
                    <% end %>



                    <span class="marcador marcador-ano"><%= r.Ano %></span>
                    <span class="valoracion"><%= r.Valoracion %><span class="fa fa-star"></span></span>
                  </div>
                </div>
              </div>
            <% end %>


          </div>
        <% end %>
        <br>
        <!--ADS ZONE -->
<!--        <script type="text/javascript">-->
<!--            atOptions = {-->
<!--                'key': '14604f0eb56d9a344b00a34ad1d2d871',-->
<!--                'format': 'iframe',-->
<!--                'height': 50,-->
<!--                'width': 300,-->
<!--                'params': {}-->
<!--            };-->
<!--            document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.topdisplaynetwork.com/14604f0eb56d9a344b00a34ad1d2d871/invoke.js"></scr' + 'ipt>');-->
<!--        </script>-->
<!--        <br>-->


<p align="center">
        <script type="text/javascript"  >
            atOptions = {
                'key' : '147354888398c9bb5b869fc3f6785493',
                'format' : 'iframe',
                'height' : 600,
                'width' : 160,
                'params' : {}
            };
            document.write('<scr' + 'ipt type="text/javascript"  src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.topdisplaynetwork.com/147354888398c9bb5b869fc3f6785493/invoke.js"></scr' + 'ipt>');
        </script>
      </p>
<!--<br>-->

<!--        <p align="center">-->
<!--          <script type="text/javascript">-->
<!--              atOptions = {-->
<!--                  'key' : '9749764c24779cce1661c0df51171131',-->
<!--                  'format' : 'iframe',-->
<!--                  'height' : 300,-->
<!--                  'width' : 160,-->
<!--                  'params' : {}-->
<!--              };-->
<!--              document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.topdisplaynetwork.com/9749764c24779cce1661c0df51171131/invoke.js"></scr' + 'ipt>');-->
<!--          </script>-->
<!--        </p>-->

      </aside>


    </div>
  </div>
</section>