<section class="seccion">




  <div class="container">
    <div class="row">
      <h2 class="tituloSeccion">Próximamente</h2>
      <div class="conjuntos-series">


        <%@SeriesProxi.each do |s| %>
        <div class="serie serieProxima">
          <%= image_tag s.Portada.url %>
          <div class="informacion-serie">
            <div class="">
              <p class="nombre-serie"><%=s.Titulo %></p>

                 <% case s.Categoria_id %>
                                  <% when 1 %>
                                  <span class="marcador marcador-nickelodeon">
                                   Nickelodeon
                                  </span>
                                  <% when 2 %>
                                  <span class="marcador marcador-cartoon">
                                      Cartoon Network
                                  </span>
                                  <% when 5 %>
                                  <span class="marcador marcador-disney">
                                      Disney
                                  </span>
                                  <% when 4 %>
                                  <span class="marcador marcador-hanna">
                                    Hanna Barbera
                                  </span>
                                  <% when 3 %>
                                  <span class="marcador marcador-foxKids">
                                    Fox Kids
                                  </span>
              <% when 6 %>
                <span class="marcador marcador-warner">
                  Warner Channel
                </span>
              <% when 7 %>
                <span class="marcador marcador-marvel">
                  Marvel
                </span>

                                    <% end %>


              <span class="marcador marcador-ano"><%=s.Ano %></span>
              <span class="valoracion"><%=s.Valoracion %><span class="fa fa-star"></span></span>
            </div>
          </div>
        </div>
        <%end %>


      </div>
    </div>
  </div>
</section>

<section class="seccion seriesClasicas">
  <div class="container">
    <div class="row">
      <h2 class="tituloSeccion1">Series clásicas</h2>
      <p>Este espacio es traído a ustedes para que podamos revivir aquellos momentos que pasábamos frente al televisor cuando no sentíamos preocupación de nada. Sabemos cuánto quieres volver a ver todas las series y caricaturas que marcaron tú infancia y adolescencia, aquí las tendrás todas tal cual como las recuerdas. La temática es simple, todas las series son organizadas por su canal original o simplemente donde fue alguna vez transmitida. Las actualizaciones de las series se estarán realizando semanalmente dependiendo la dificultad de las mismas donde no solo se subirán series clásicas, sino que también serán subidas series nuevas. Vuelve a vivir la emoción de tus programas favoritos y comparte con todos tus amigos para que ellos también lo disfruten tanto como tú.</p>
    </div>
  </div>
</section>

<section class="seccion categorias">
  <div class="container">
    <div class="row">
      <h3 class="subtitulo">Categorías</h3>

      <ul class="botontes-categorias">
        <li><%= button_to 'Nickelodeon', inicio_path, method: :get, params:{Categoria_id:'1'},:class=>"boton btn-nickelodeon" %> </li>
        <li><%= button_to 'Cartoon Network', inicio_path, method: :get, params: {Categoria_id: '2'}, :class => "boton btn-cartoon" %> </li>
        <li><%= button_to 'Fox Kids', inicio_path, method: :get, params: {Categoria_id: '3'}, :class => "boton btn-foxKids" %> </li>
        <li><%= button_to 'Hanna Barbera', inicio_path, method: :get, params: {Categoria_id: '4'}, :class => "boton btn-hanna" %> </li>
        <li><%= button_to 'Disney', inicio_path, method: :get, params: {Categoria_id: '5'}, :class => "boton btn-disney" %> <li>
        <li><%= button_to 'Warner Channel', inicio_path, method: :get, params: {Categoria_id: '6'}, :class => "boton btn-warner" %> </li>
        <li><%= button_to 'Marvel', inicio_path, method: :get, params: {Categoria_id: '7'}, :class => "boton btn-marvel" %> </li>
      <!--  <li> <%= button_to 'Todas las Series', inicio_path, method: :get, params: {Categoria_id: '1'}, :class => "boton btn-todas-series" %> </li>-->


      </ul>



      <div class="conjuntos-series">

        <% @Series.each do |s| %>
          <%= link_to serie_path(s) do %>
          <div class="serie serie-Activa">
            <%= image_tag s.Portada.url%>
            <div class="informacion-serie">
              <div class="">
                <p class="nombre-serie"><%=s.Titulo %></p>
                 <% case s.Categoria_id  %>
                  <% when 1%>
                  <span class=" marcador marcadorSeries marcador-nickelodeon">
                   Nickelodeon
                  </span>
                  <% when 2 %>
                  <span class="marcador marcadorSeries marcador-cartoon">
                      Cartoon Network
                  </span>
                  <% when 5 %>
                  <span class="marcador marcadorSeries marcador-disney">
                      Disney
                  </span>
                  <% when 4 %>
                  <span class="marcador marcadorSeries marcador-hanna">
                    Hanna Barbera
                  </span>
                  <% when 3 %>
                  <span class="marcador marcadorSeries marcador-foxKids">
                    Fox Kids
                  </span>
                <% when 6 %>
                                                    <span class="marcador marcador-warner">
                                                      Warner Channel
                                                    </span>
                <% when 7 %>
                                                       <span class="marcador marcador-marvel">
                                                         Marvel
                                                       </span>
                    <% end %>


                <span class="marcador marcador-ano"><%=s.Ano %></span>
                <span class="valoracion"><%=s.Valoracion %><span class="fa fa-star"></span></span>
              </div>
            </div>

          </div>
        <%end %>
        <% end %>



    </div>
  </div>
  </div>
  <% if params[:Titulo] %>

  <% else %>

  <div class="paginacion paginacion-all-series">
    <ul class=" pagination">
      <%= will_paginate @Series, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    </ul>
  </div>
    <%end %>
</section>

























