<!DOCTYPE html>
<html>
<head>
  <title>LACartoons</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'font-awesome.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'estilos', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  <meta charset="utf-8">
  <meta name="description" content="Lacartoons es traído a ustedes para recordar aquellos momentos que pasábamos frente al televisor cuando no sentíamos preocupación de nada.">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="application-name" content="">


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123750673-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-123750673-1');
  </script>

  <script data-cfasync="false" type="text/javascript">(function(s,o,l,v,e,d){if(s[o]==null&&s[l+e]){s[o]="loading";s[l+e](d,l=function(){s[o]="complete";s[v+e](d,l,!1)},!1)}})(document,"readyState","add","remove","EventListener","DOMContentLoaded");(function(){var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.engine.4dsply.com/Scripts/infinity.js.aspx?guid=1e56fa25-1fb9-4d3c-934a-0a78925aebf6";s.id="infinity";s.setAttribute("data-guid","1e56fa25-1fb9-4d3c-934a-0a78925aebf6");s.setAttribute("data-version","async");var e=document.getElementsByTagName('script')[0];e.parentNode.insertBefore(s,e)})();</script>


</head>

<body data-turbolinks="false">

<header class="headerTitulo parallax">
  <h1 class="text-center"> <%= link_to 'LACARTOONS', inicio_path, class: 'hbtoonh1' %></h1>
  <span class="icono-menu fa fa-bars"></span>
</header>

<nav class="menu">
  <div class="">

    <ul class="navegacion">
      <li><span class="fa fa-home"><%= link_to 'Inicio', inicio_path %></span></li>
      <li><%= link_to 'Categorias', inicio_path %></li>
      <li><%= link_to 'Contactos', contacto_path %></li>
    </ul>


    <%= form_tag inicio_path, method: :get, :class => 'formulario-buscar' do %>
      <%= text_field_tag :Titulo, params[:Titulo], :class => 'inputS', :placeholder => 'Buscar tu serie' %>
      <%= submit_tag '', :class => 'fa fa-search noBorden' %>
      <button class="fa fa-search" type="seach" name="button"></button>
    <% end %>
  </div>
</nav>




<%= yield %>

<footer class="footer-pagina">
  <div class="container">
    <div class="donacion">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick"/>
        <input type="hidden" name="hosted_button_id" value="F49WM9C6WCHDJ"/>
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"/>
        <img alt="" border="0" src="https://www.paypal.com/en_DO/i/scr/pixel.gif" width="1" height="1"/>
      </form>
    </div>

    <div class="row">
      <div class=" contenido-footer">

        <p class="text-center"><%= Time.now.year %> - LACartoons. All right reserved</p>
        <div class="redes-sociales">

          <ul>

            <li class="redes"><a class="fa btn-facebook fa-facebook" target="_blank" href="https://bit.ly/2SWUKin"></a></li>
            <li class="redes"><a class="fa btn-instagram fa-instagram" target="_blank" href="https://bit.ly/2StPyn4"></a></li>

          </ul>



        </div>

      </div>



      </div>
  </div>


</footer>
<%#= javascript_include_tag 'jquery.js', 'data-turbolinks-track': 'reload' %>
<%#= javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'main.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'menu.js', 'data-turbolinks-track': 'reload' %>
<!-- <script src="js/jquery.js"></script>
 <script src="js/bootstrap.min.js"></script>
 <script src="js/main.js"></script>
 <script src="js/menu.js"></script> -->


<!--<script type='text/javascript' src='//pl15561240.passtechusa.com/5d/23/84/5d23845a305fdbee6e9a0ecc44bd768c.js'></script>-->

<!--<p align="center">-->
<!--  <script type="text/javascript">-->
<!--      atOptions = {-->
<!--          'key': '8e9868dab460ab5bcd3c64daa7ebf71c',-->
<!--          'format': 'iframe',-->
<!--          'height': 90,-->
<!--          'width': 728,-->
<!--          'params': {}-->
<!--      };-->
<!--      document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.topdisplaynetwork.com/8e9868dab460ab5bcd3c64daa7ebf71c/invoke.js"></scr' + 'ipt>');-->
<!--  </script>-->

<!--</p>-->
</body>


</html>
